*
{
    font-family: Baskerville,serif; 
    color: #CCCCCC;
}
body{
    background-color: #4D4C7D;
}
.title
{
  background-color:;
  text-align: center;
  color: #FFD700;
}
.srow
{
    
    background-color:  #000080;
    align-items: center;
}

.imgs
{
    height: 114px;
    width: 114px;
    border: 1px solid;
}
.timer
{
    text-align: center;
}
.para
{
    height: 114px;
    font-size: 75px; 
    width: 114px;
}
